body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Основной контейнер формы */
main {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 500px;
  margin-top: 20px;
}

/* Стиль заголовка */
h1 {
  text-align: center;
  margin-bottom: 20px;
}

/* Оформление полей ввода */
input[type="text"],
input[type="number"],
input[type="email"],
input[type="password"],
select {
  width: 96%;
  padding: 10px 10px 10px 10px;
  margin-block: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}


/* Оформление радиокнопок и чекбоксов */
fieldset {
  padding: 10px 0;
  border: none;
  /* margin-bottom: 10px; */
}

label {
  margin-right: 20px;
}

input[type="radio"],
input[type="checkbox"] {
  margin-right: 5px;
}

/* Стиль кнопки */
button {
  width: 100%;
  margin-top: 10px;
  padding: 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #45a049;
}

input:last-child {
  margin-bottom: 10px;
}

/* Стили для сообщений с ошибками (если есть) */

div {
  color: red;
  font-size: 14px;
  margin-bottom: 10px;
}

/* Оформление для ошибочного ввода */
/* input:invalid {
  border: 1px solid red;
}

input:valid {
  border: 1px solid green;
} */

input.error {
  border: 1px solid red;
  /* color: red; */
}

input.valid {
  border: 1px solid green;
}

button:disabled {
  background-color: gray;
  cursor: not-allowed;
}

